*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
#navlist{
    margin-left: 15px;
    margin-right: 15px;
    list-style: none;
    font-size: 1.9rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.container{
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, rgba(234, 227, 217, 1.000) 0.000%, rgba(237, 227, 217, 1.000) 16.667%, rgba(233, 220, 209, 1.000) 33.333%, rgba(223, 207, 196, 1.000) 50.000%, rgba(208, 191, 180, 1.000) 66.667%, rgba(192, 174, 163, 1.000) 83.333%, rgba(177, 160, 149, 1.000) 100.000%);
    overflow-x: none;
}
.navcontainer{
    width: 100vw;
    background: linear-gradient(90deg, rgba(206, 198, 186, 1.000) 0.000%, rgba(195, 182, 170, 1.000) 16.667%, rgba(184, 166, 154, 1.000) 33.333%, rgba(174, 150, 140, 1.000) 50.000%, rgba(164, 136, 127, 1.000) 66.667%, rgba(154, 123, 116, 1.000) 83.333%, rgba(145, 112, 108, 1.000) 100.000%);
    min-height: 80px;
    margin-top: 1px;
}
#navlogo{
    margin-top: 5px;
    font-size: 2.8rem;
    font-weight: bold;
     font-family: "Grandstander", cursive;
  font-optical-sizing: auto;
  font-style: normal;
    color:brown;   
}
a{
    color:burlywood;
    text-decoration: none;
}
#navitems{
    margin-top: 17px;
     font-family: "Grandstander", cursive;
  font-optical-sizing: auto;
  font-style: normal;
    display: flex;
    gap: 25px;
}
.footerbox{
    font-size: 20px;
    padding-top: 10px;
    color:brown;
    text-align: center;
    min-height: 40px;
    background: linear-gradient(90deg, rgba(206, 198, 186, 1.000) 0.000%, rgba(195, 182, 170, 1.000) 16.667%, rgba(184, 166, 154, 1.000) 33.333%, rgba(174, 150, 140, 1.000) 50.000%, rgba(164, 136, 127, 1.000) 66.667%, rgba(154, 123, 116, 1.000) 83.333%, rgba(145, 112, 108, 1.000) 100.000%);
}
.contentbox{
    height: 100%;
    width: 80%;
    margin: auto;
    background-color: beige;
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-shadow: 1px 20px 30px 1px black;
}
.item{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
}
.rightbox img{
    align-self: flex-end;
    position: relative;
    top: 8px;
    height:400px;
    width: 300px;
    border-radius: 30px;
    border: 1px solid black;
    transition: all 0.6s linear 0s;
}

.rightbox img:hover{
    transform: scale(1.1);
}
.leftbox{
    padding-right: 10px;
    height: 580px;
    width: 60%;
    position: relative;
    left: 30px;
    top: 25px;
    display: flex;
    flex-direction:column;
    
}
.leftbox h2{
    font-size: 0.5rem;
    color: rgb(90, 16, 26);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 5px;
    font-size: 30px;
}
.item h1{
    text-shadow: 2px 5px 10px rgb(199, 167, 167);
    margin-top: 10px;
    padding-bottom: 5px;
    font-size: 47px;
    font-family: "Grandstander", cursive;
  font-optical-sizing: auto;
  font-style: normal;
    color:brown;
}
.ingbox{
    padding-top: 5px;
    font-size: 1.1rem;
      font-family: "Cedarville Cursive", cursive;
  font-weight: 400;
  font-style: normal
}
.contbox{
    height: 120px;
    width: 600px;
    padding-top: 5px;
    font-size: 1.1rem;
    font-family: "Cedarville Cursive", cursive;
  font-weight: 400;
  font-style: normal
}